* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.chatroom-label {
    font-size: 1.5em;
}

.conversation {
    height: 75px;
    width: 100%;
    
}

.friend-element {
    border: 1px solid black;
    padding: 5px;
}

.friend-request {
    border: 1px solid black;

    display: flex;
    justify-content: space-between;

    padding: 5px;
}

.center-text {
    text-align: center;
}

.message {

    background-color: aquamarine;

    border: 1px solid black;
    border-radius: 10px;

    width: 50%;

    margin: 20px;
    padding: 10px;
}

#chatroom-container {
    display: flex;
}

#chatroom-header {
    border: 1px solid black;
    display: flex;

    justify-content: space-between;

    height: 45px;
}

#chatroom-left-panel {
    border: 1px solid black;
    height: 95vh;
    width: 25vw;
    overflow-y: scroll;
}

#chatroom-center-panel {
    border: 1px solid black;
    height: 95vh;
    width: 50vw;
}

#chatroom-right-panel {
    border: 1px solid black;
    height: 95vh;
    width: 25vw;

    overflow-y: scroll;
}

#conversation-name {
    border: 1px solid black;
    margin: 0;
    height: 10%;
}

#current-conversation {
    height: 85%;
    overflow-y: scroll;
}

#chatroom-interface {
    display: flex;
    height: 5%;
}

#message-field {
    height: 100%;
    width: 100%;
}